{
    "printWidth": 140,
    "trailingComma": "all",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "useTabs": true,
    "tabWidth": 4
}